<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bem vindo a http://academixsuite.com.br, <%= @user.name %></h1>
    <p>
      Você foi cadastrado com sucesso no nosso sistema,
      e-mail cadastrado: <%= @user.email %>.<br>
    </p>
    <p>Obrigado por ser juntar a academia: <%= @user.gym.name %></p>
  </body>
</html>